<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmx.kpu.sms.mapper.ESmsTemplateMapper">
    <!--
    代码生成器 by 2023-11-14 11:08:02
    自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lmx.kpu.sms.entity.ESmsTemplate">
        <id column="id" property="id"/>
        <result column="provider_type" property="providerType"/>
        <result column="app_id" property="appId"/>
        <result column="app_secret" property="appSecret"/>
        <result column="url" property="url"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="template_params" property="templateParams"/>
        <result column="template_code" property="templateCode"/>
        <result column="sign_name" property="signName"/>
        <result column="template_describe" property="templateDescribe"/>
        <result column="created_by" property="createdBy"/>
        <result column="create_time" property="createTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, provider_type, app_id, app_secret, url, name,
        content, template_params, template_code, sign_name, template_describe, created_by, 
        create_time, updated_by, update_time
    </sql>

</mapper>
