<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmx.kpu.userinfo.dao.MenuHelperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lmx.kpu.model.entity.base.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="resourceType" column="resource_type" jdbcType="CHAR"/>
        <result property="describe" column="describe_" jdbcType="VARCHAR"/>
        <result property="isGeneral" column="is_general" jdbcType="BIT"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="BIT"/>
        <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="activeIcon" column="active_icon" jdbcType="VARCHAR"/>
        <result property="group" column="group_" jdbcType="VARCHAR"/>
        <result property="dataScope" column="data_scope" jdbcType="CHAR"/>
        <result property="customClass" column="custom_class" jdbcType="VARCHAR"/>
        <result property="isDef" column="is_def" jdbcType="BIT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="treeGrade" column="tree_grade" jdbcType="INTEGER"/>
        <result property="treePath" column="tree_path" jdbcType="VARCHAR"/>
        <result property="metaJson" column="meta_json" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,code,title,
        name,resource_type,describe_,
        is_general,`redirect`,path,component,
        state,sort_value,icon,
        active_icon,group_,data_scope,
        custom_class,is_def,parent_id,
        tree_grade,tree_path,meta_json,
        created_by,create_time,updated_by,
        update_time
    </sql>

</mapper>
