<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmx.kpu.userinfo.dao.ResourceHelperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lmx.kpu.model.entity.base.SysResource">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="title" property="title"/>
        <result column="name" property="name"/>
        <result column="resource_type" property="resourceType"/>
        <result column="remarks" property="remarks"/>
        <result column="is_general" property="isGeneral"/>
        <result column="redirect" property="redirect"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="state" property="state"/>
        <result column="sort_value" property="sortValue"/>
        <result column="icon" property="icon"/>
        <result column="active_icon" property="activeIcon"/>
        <result column="group_" property="group"/>
        <result column="data_scope" property="dataScope"/>
        <result column="custom_class" property="customClass"/>
        <result column="is_def" property="isDef"/>
        <result column="parent_id" property="parentId"/>
        <result column="tree_grade" property="treeGrade"/>
        <result column="tree_path" property="treePath"/>
        <result column="meta_json" property="metaJson"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, title, name, resource_type, remarks,
        is_general, redirect, path, component, state, sort_value,
        icon, active_icon, group_, data_scope, custom_class, is_def,
        parent_id, tree_grade, tree_path, meta_json, created_by, created_time,
        updated_by, updated_time
    </sql>

</mapper>
