<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmx.kpu.userinfo.dao.RoleHelperMapper">

    <resultMap id="SysRoleResultMap" type="cn.lmx.kpu.model.entity.base.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="state" jdbcType="BIT" property="state"/>
        <result column="readonly_" jdbcType="BIT" property="readonly"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="SysRole_Column_List">
        r.id,r.created_by,r.created_time,r.updated_by,r.updated_time, r.category,
        r.name, r.code, r.remarks, r.state, r.readonly_
    </sql>

</mapper>
