<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmx.kpu.tenant.dao.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lmx.kpu.tenant.entity.Tenant">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="connect_type" jdbcType="VARCHAR" property="connectType"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="readonly_" jdbcType="BIT" property="readonly"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,created_time,created_by,updated_time,updated_by,
        code, name, type, connect_type, status, readonly_, duty, expiration_time, logo, remarks
    </sql>

</mapper>
