<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmx.kpu.msg.mapper.MsgTemplateMapper">
    <!--
    代码生成器 by 2023-12-10 18:14:10
    自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
-->

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.lmx.kpu.msg.entity.MsgTemplate">
                    <id column="id" property="id"/>
                        <result column="interface_id" property="interfaceId"/>
                        <result column="type" property="type"/>
                        <result column="code" property="code"/>
                        <result column="name" property="name"/>
                        <result column="state" property="state"/>
                        <result column="template_code" property="templateCode"/>
                        <result column="sign" property="sign"/>
                        <result column="title" property="title"/>
                        <result column="content" property="content"/>
                        <result column="script" property="script"/>
                        <result column="param" property="param"/>
                        <result column="remarks" property="remarks"/>
                        <result column="target_" property="target"/>
                        <result column="auto_read" property="autoRead"/>
                        <result column="remind_mode" property="remindMode"/>
                        <result column="url" property="url"/>
                        <result column="created_time" property="createdTime"/>
                        <result column="created_by" property="createdBy"/>
                        <result column="updated_time" property="updatedTime"/>
                        <result column="updated_by" property="updatedBy"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, interface_id, type, code, name, state, 
        template_code, sign, title, content, script, param, 
        remarks, target_, auto_read, remind_mode, url, created_time, 
        created_by, updated_time, updated_by
        </sql>

</mapper>
